@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
	font-family: 'Open Sans', sans-serif;
	background-image: linear-gradient(-180deg, #F8FAF8 1%, #EDF4ED 99%);
	background-attachment: fixed;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(./img/confetti.svg);
    z-index: -1;
}
body::after {
    /*content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    right: 0;
    margin: auto;
    box-shadow: 0 0 90px 5px rgba(62, 119, 66, 0.41);
    background: rgba(255, 255, 255, 0.83);
    max-width: 800px;
	z-index:-1;*/
}

.padding_container_ag, .padding_container_n, .padding_container5, .padding_container {
	overflow: hidden;
	padding-top: 0px;
	padding-bottom: 24px;
}

.main_container_cl{
	content: '';
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    right: 0;
    margin: auto;
    box-shadow: 0 0 90px 5px rgba(62, 119, 66, 0.41);
    background: rgba(255, 255, 255, 0.83);
    max-width: 800px;
}
.border3 {
    border-bottom: none !important;
}

.survTitle {
    font-family: 'open_sanslight', sans-serif;
   /* float: right; */
    width: 100%;
    margin-top: 49px;
    color: #757575;
	z-index: 9999;
	margin-bottom:45px;
}

.desktop_menu{
 
	border-top: 10px solid #57a32a !important;
    visibility: visible !important;
    /* background: #FFFFFF; */
    width: 100% !important;
    z-index: 999999 !important;
    text-align: center;
    display: block;
    float: left;
    left: 0 !important;
}

.shadow_card {
   /* width:70%;
    height: 93px;
    z-index: -9;
    position: absolute;
    background-image: -webkit-linear-gradient(rgb(238,238,238) 0%,rgb(255,255,255) 25%,rgb(255,255,255) 71%,rgba(238, 238, 238, 0) 100%);  background-image: -moz-linear-gradient(rgb(238,238,238) 0%,rgb(255,255,255) 25%,rgb(255,255,255) 71%,rgba(238, 238, 238, 0) 100%);  background-image: -o-linear-gradient(rgb(238,238,238) 0%,rgb(255,255,255) 25%,rgb(255,255,255) 71%,rgba(238, 238, 238, 0) 100%);  background-image: -ms-linear-gradient(rgb(238,238,238) 0%,rgb(255,255,255) 25%,rgb(255,255,255) 71%,rgba(238, 238, 238, 0) 100%);  background-image: linear-gradient(rgb(238,238,238) 0%,rgb(255,255,255) 25%,rgb(255,255,255) 71%,rgba(238, 238, 238, 0) 100%);
	*/
}

.pin_message {
    position: absolute;
    width: 36px;
    height: 68px;
    background: url(img/message_pin.png) center no-repeat;
    z-index: 9999;
    background-size: 100%;
    margin-top: -30px;
    margin-left: 13px;
}

.message_expandable {
	padding: 20px;
	background-color: white;
	border-bottom: none;
	border-left: none;
	background-image: url(img/message_lines.svg);
	background-position-y: -1px;
	z-index: 9;
	border-right: none;
	min-height: 205px;
	position: relative;
	height: 100%;
	padding-top: 16px;
	box-shadow: 0px 5px 18px 0px rgba(46, 64, 76, 0.09), 
				0px 0px 0px 1px rgba(97, 119, 134, 0.09);
}
.message_text {
    border: none !important;
	background: transparent !important;
    resize: none;
    padding-left: 15px !important;
    padding-top: 10px !important;
    line-height: 20px !important;
    padding-right: 11px !important;
	overflow: hidden;
}
.message_d2 {
    width: 97%;
    padding: 0;
    padding-left: 3%;
    padding-top: 16px;
}

.slider_ribbon > .ui-slider > .ui-btn-down-d {
}
.gift_container {
	width: 580px;
	height: 345px;
	background-size: 80%;
}
.gift_container {
    width: 95% !important;
    height: auto;
    margin-left: auto;
    padding-top: 20px;
    margin-right: auto;
    min-height: 250px;
    overflow: hidden;
}
.image_gift_cart {

    width: auto;
    height: auto;
    border-top-right-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 3px;
    margin-top: 5px;
    overflow: hidden;
    z-index: -9999;
}

.card_logo{
	width: auto;
    height: auto;
    margin-top: 5%;
    max-height: 120px;
    max-width: 100%;
   margin-bottom: 10%;
}

.award_points{
	font-size: 14px !important;
	margin-left: auto;
	margin-right: auto;
    border: 1px solid rgb(211, 211, 211);
	border-radius: 4px;
	background-color: #fff;
	/* display: none !important; */
}

.pocket_card {
    width: 100%;
    height: 170px;
    margin-top: -77px;
    margin-bottom: 26px;
    position: relative;
}

.line_info22,
.line_info2 {
    background: #C2C2C2;
    width: 20%;
    height: 1px;
    display: inline;
    position: absolute;
    margin-top: 30px;
    border-bottom: 1px solid white;
    left: 38px;
    margin-left: 1px;
}

.line_info33,
.line_info3 {
    background: #C2C2C2;
    width: 20%;
    height: 1px;
    display: inline;
    position: absolute;
    margin-top: 30px;
    border-bottom: 1px solid white;
    right: 55px;
}
.panel_info_cg {
    padding: 0;

    position: absolute;
    width: 95%;
    text-align: center;
    font-size: 14px;
    margin-top: 18px;
}
.panel_info_cg,
.panel_info4,
.panel_info3,
.panel_info2,
.panel_info {
font-size: 13px;
    display: inline-block;
    position: relative;

color: #838383;
text-shadow: 0px 1px 0px #FFF;
margin-top: 13px;
padding-right: 13px;
margin-left: 3px;
}

.slider_ribbon > .ui-slider {
    margin-top: -89px;
}
.kopce_vo_text {
	margin-top: 14px;
}
.slider_ribbon > .ui-slider > .ui-btn-down-d {
}

.slider_ribbon > .ui-slider > .ui-slider-track .ui-btn.ui-slider-handle, .ui-slider-switch .ui-btn.ui-slider-handle {
    margin: -16px -17px -17px -16px;
    border: none;
    border-radius: 100px;
    height: 30px !important;
    width: 30px !important;
    background-size: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.10), 0px 3px 6px 0px rgba(0,0,0,0.15);
}

.slider_ribbon > .ui-slider > .ui-slider-handle, .ui-btn, .ui-shadow, .ui-btn-corner-all, .ui-btn-up-c > .ui-btn-inner {
}

.slider_ribbon > .ui-slider > .ui-slider-track, .ui-btn-down-c, .ui-btn-corner-all > .ui-btn-hover-c {
    border: none;
}

.slider_ribbon > .ui-slider > .ui-btn-corner-all > .ui-btn-active {
        height: 20px;
    background: rgb(102, 102, 102);
    background-image: -webkit-linear-gradient(-180deg, #FDEC83 0%, #EAAC39 100%);
    background-image: -moz-linear-gradient(-180deg, #FDEC83 0%, #EAAC39 100%);
    background-image: -ms-linear-gradient(-180deg, #FDEC83 0%, #EAAC39 100%);
    background-image: -o-linear-gradient(-180deg, #FDEC83 0%, #EAAC39 100%);
    background-image: linear-gradient(-180deg, #FDEC83 0%, #EAAC39 100%);
    -webkit-box-shadow: inset 0px -1px 7px 0px #EBB03E;
    -moz-box-shadow: inset 0px -1px 7px 0px #EBB03E;
    -ms-box-shadow: inset 0px -1px 7px 0px #EBB03E;
    -o-box-shadow: inset 0px -1px 7px 0px #EBB03E;
    box-shadow: inset 0px -1px 7px 0px #EBB03E;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}
.slider_ribbon > .ui-slider > .ui-slider-track {
    position: relative;
    overflow: visible;
    height: 20px;
    background-position-y: 10px;
    margin-top: -56px;
    margin-left: 7%;
    margin-right: 7%;
    background: rgba(0,0,0,0.07);
    box-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.16);
    border-radius: 100px;
}
.slider_ribbon > .ui-slider > input.ui-input-text.ui-slider-input {
    width: 37%;
    margin-top: 0px;
    height: 24px;
    font-size: 18px;
    text-align: left;
    padding-left: 9px;
    float: left;
    margin-left: 7%;
    padding-right: 12px;
    margin-bottom: 3px;
}
.slide_rec{
	width: 37% !important;
    margin-top: -40px !important;
    height: 20px !important;
    min-height: 1em !important;
    font-size: 18px !important;
    text-align: left;
    padding-left: 9px !important;
    float: left;
    margin-left: 7% !important;
    padding-right: 12px !important;
    margin-bottom: 3px !important;

    background: white !important;
    border-color: rgb(213, 213, 213) !important; border-width: 1px !important; border-style: solid !important; -webkit-box-shadow: 1px 1px 0px rgb(255,255,255) !important; box-shadow: 1px 1px 0px rgb(255,255,255) !important;


}

div.outt div{
	border: none !important;
}

.slider_ribbon > .ui-input-text, .ui-slider {
    font-size: 20px;
    margin-top: -26px;
    margin-left: 2px;
    margin-bottom: 11px;
}

.tile {
    width: 100px;

    height: 100px;
    background: rgb(252, 252, 252);
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(226, 226, 226);
    text-align: left;
    color: rgb(131, 131, 131);
    font-size: 23px;
    padding: 15px;
}
.recom {
	font-size: 11px;
	color: rgb(255, 255, 255) !important;
	margin-top: 3px;
	margin-left: 3px;
}

.footer_desktop_bottom {

    float: left;
    width: 100%;
    height: 47px;
    overflow: hidden;
    padding-top: 8px;
}
.footer_desktop {
    width: 100%;
    background: #FFF;
    height: 46px;
    float: left;
    margin-bottom: 0px;
    position: relative !important;
    visibility: visible !important;
    left: 0  !important;
    top: initial !important;
    bottom: 0 !important;
    z-index: 999999;
    border-top: 1px solid #D5D5D5;
    box-shadow: inset 0 3px 25px rgba(0, 0, 0, 0.14);
}


.icon-primary {
    font-size: 25px;
    color: #D5D5D5;
    border: 1px solid #D5D5D5;
    margin-top: 5px;
    margin-right: 19px;
    border-radius: 5%;
    width: 22%;
    background: #707070;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
	margin: auto;
	display: block;
	min-width: 100px;
	max-width: 200px;
}

.icon-primary:hover {
    background: #094754;
    color: white;
}

.photo_radios_rating {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    /*text-align: center;*/
	/*min-width: 300px !important;*/
    max-width: 850px;
	margin:auto;
	padding-left:5%;
	padding-right:5%;

}

.photo_radios_rating input {
    display: none;
}

.photo_radios_rating label {
    float: none;
    display: inline-block;
    margin: 0;
    width: 8%;
    height: auto;
    position: relative;
    cursor: pointer;
    font-family: 'open_sanslight', sans-serif;
}

.photo_radios_rating .instat_photo {
    transform: none;
    padding: 0;
	border-radius:5px;
}

.instat_photo {
    display: block;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #C3C3C3;
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.07);
}

.photo_radios_rating .desc_anketa_slika_rat {
    font-size: 17px;
    padding-left: 0;
    padding-right: 0;
}

.desc_anketa_slika_rat {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 15px;
    color: rgb(100, 100, 100);
    line-height: 22px;
    font-weight: 100;
}


.photo_radios_rating input:checked + label > .instat_photo > .desc_anketa_slika_rat {
    background-color: rgb(90, 193, 100);
    color: #fff;
    transition: all 0.2s ease-out;
}

.photo_radios_options {
    overflow: hidden;
    padding-top: 3%;
    width: 96%;
    padding: 0 2%;
    display: inline-block;
    text-align: center;
    font-family: 'open_sanslight', sans-serif;
}

.photo_radios_options input {
    display: none;
    margin: 3px 3px 0px 5px;
    -webkit-appearance: radio;
    box-sizing: border-box;
    background-color: initial;
    cursor: default;
    padding: initial;
    border: initial;
    
}

.photo_radios_options label {
    float: none;
    display: inline-block;
    height: auto;
    position: relative;
    cursor: pointer;
	padding-left:5%;
	padding-right:5%;
}

.anketa_simple_options_label {
    width: 100%;
    border: 1px solid transparent;
    margin: 1px !important;
}

.anketa_simple_options {
    background: url(img/option_unch.png) no-repeat center;
    background-size: 30px;
    background-position: 5px 4px;
}

.anketa_simple_options .desc_anketa_slika_opt {
    text-align: left;
    float: none;
    padding: 7px 7px 7px 50px;
}

.desc_anketa_slika_opt {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: rgb(100, 100, 100);
    line-height: 22px;
}

.photo_radios_options input:checked + label:after {
    content: '';
    background: url(img/select_photo_question.png) center no-repeat;
    background-size: 100% auto;
    transform: scale(1);    
}

.photo_radios_options label::after {
    transition: all 0.4s ease-out;
    position: absolute;
    content: '';
    color: #444;
    top: 0px;
    transform: scale(0);
    left: 2px;
    width: 40px;
    height: 38px;
    background-size: 100% auto;
    text-align: center;
    font-size: 80px;
    animation: 1s pulse ease;
	margin-left:4%;
	margin-right:4%;
}

.thankyou_form {
    margin-top: 300px !important;
}

#srvSendBtn {
    height:100%;
    text-size:10px;
    border-radius:5px;
    border: 2px solid black;
}

#srvSendBtn:hover {
    background-color: #4CAF50; 
    color: white;
}

.naslov_thankst {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    max-width: 530px;
    font-size: 28px;
    color: #757575;
}

 .logo_dm {
    max-width: 35%;
    position: relative;
    margin-top: 37px;
    /*height: 46px;
	padding-left:25%;
	padding-right:25%;
	*/
    right: 0;
	
}

.title_quest {
	position: relative !important; 
	z-index: 99999;
	padding-top: 40px !important; 
	padding-bottom: 30px;
	/*text-align: center;*/
	font-size: 21px;
	color: #757575;
	padding-left:5%;
	padding-right:5%;
}
.content_fluid {
    width: 90%;
    max-width: 700px;
    margin: auto;
}

.reating_size {
	overflow: hidden;
	width: 90%;
    min-width: 300px !important;
    margin: auto;
    max-width: 850px;
	display:inline;
}

.line_info {
	background: #C2C2C2;
    width: 89%;
    height: 1px;
    display: inline;
    position: absolute;
    margin-top: 22px;
    border-bottom: 1px solid white;
	margin-left:5%;
	margin-right:5%;

}
.btn {
	padding-top: 60px;
    padding-bottom: 30px;
}

.center_footer_huge{}

.copyright_dm {
	font-size: 12px;
	color: #939393;
	font-family: 'open_sanslight', sans-serif;
	display: block;
	position: relative;
}
.photo_question_cont_rat{}

.koloni {
	overflow: hidden;
    column-count: 2 !important;
	 }
.logo_home_container {
	
    /*margin-left: 5%;  
    margin-right: 5%;*/
    font-family: 'open_sanslight', sans-serif;
    overflow: hidden;
}
#thankst-template {
    height: 910px;
}

#footer {
    height: 50px; /* the footer's total height */
  }
  
  #footer-content {
    background-color: #f3e5f5;
    border: 1px solid #ab47bc;
    height: 32px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
    padding: 8px;
  }
  
  /* @group Media Queries */
   @media (min-width: 1900px) {}
   @media (min-width: 1680px) {}
   @media (min-width: 1480px) {}
   @media (min-width: 1380px) {}
   @media (min-width: 1150px) {
	
.center_footer_huge {
    /*width: 1150px;*/
    margin: 0 auto;
    display: block;
}
   }
    @media (max-width: 1150px) {

.center_footer_huge {
    width: 100%;
    margin: 0 auto;
    display: block;
}
   }
    @media (min-width: 1024px) {}
   @media (max-width: 1024px) {
	   
.logo_mobile .logo_dm:first-child {
   /* position: absolute; 
     left: 0 !important;
     right: 0 !important;*/
    /* text-align: center; */
	min-width: 200px;
    margin-left: 0;
    margin-right: 0;
    /*padding-left: 25%;
    padding-right: 25%;*/

}
   }
   @media (max-width: 1023px) and (min-width: 978px) {}
   @media (max-width: 1023px) {

   .logo_dm {
         left: auto;
         right: auto;
         height: 40px;
         /*margin-top: 5px;
		 margin-left: 5px;*/
         -webkit-transition: all .2s ease-out !important;
         -moz-transition: all .2s ease-out !important;
         -ms-transition: all .2s ease-out !important;
         -o-transition: all .2s ease-out !important;
         transition: all .2s ease-out !important;
 }
 
   }
   @media (min-width: 768px) and (max-width: 979px) {}
   @media (max-width: 979px) {}
   @media (min-width: 900px) {}
   @media (max-width: 900px) {}
   @media (min-width: 768px) {}
   @media (max-width: 768px) {
	 .photo_radios_rating{
		 display:flex;
		 margin-right: 5% !important;
	 }
	 .raitng_fl{
		 flex:1;
	
	 }
   }
   @media (max-width: 650px) {
	   .title_quest{
		   
    width: 82%;
    position: absolute;
	   }
	 .photo_radios_rating{
		 display:flex;
	 }
	 .raitng_fl{
		 flex:1;
		
	 }
	 .koloni{
	 column-count: 1 !important;
	 }
   }
   @media (min-width: 570px) {}
   @media (max-width: 570px) {}
   @media (max-width: 510px) {
	   
.logo_dm {
    /* height: 32px; */
    /* margin-top: 10px; */
	margin-left:0 !important;
	margin-right:0 !important;
	min-width: 70%;
}
   }
   @media (max-width: 500px) {}
   @media (max-width: 460px) {}
   @media (max-width: 420px) {

   .logo_mobile {
     display: block;
     flex: 1;
     text-align: center;
     box-sizing: border-box;
     padding: 10px 0;
     position: relative;
}
   }
   @media (max-width: 400px) {}
   @media (max-width: 395px) {}
   @media (max-width: 348px) {}
   @media (max-width: 330px) {}
   @media (min-width: 320px) and (max-width: 400px) {}
 
   
   
 .question_input .ui-content {
	 overflow: visible !important;
 }

